* {
    margin: 0px;
    padding: 0px;
}
.projects-section {
    padding: 6rem 5%;
    max-width: 1300px;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    margin-top: 3.5rem;
    perspective: "1000px"
}

.project-card {
    background: rgba(15, 15, 15, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 2rem;
    backdrop-filter: blur(15px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-style: preserve-3d;
}

.project-card:hover {
    border-color: #f3be2b;
    transform: translateY(-8px);
    background: rgba(15, 15, 15, 0.6);
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.project-category {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f3be2b;
    font-weight: 600;
}

.project-links a {
    color: #888;
    transition: color 0.3s;
}

.project-links a:hover {
    color: #fff;
}

.project-card-content h3 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;
}

.project-card-content p {
    color: #aaa;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.tech-tag {
    background: rgba(243, 190, 43, 0.08);
    color: #f3be2b;
    padding: 0.3rem 0.8rem;
    border-radius: 100px;
    font-size: 0.75rem;
    font-weight: 500;
    border: 1px solid rgba(243, 190, 43, 0.2);
}

.loader-text {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
    font-style: italic;
    padding: 4rem;
}

.pagination-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

.page-numbers {
    display: flex;
    gap: 0.5rem;
}

.page-btn, .num-btn {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #888;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all ease;
    font-weight: 500;
}

.num-btn.active {
    background: #f3be2b;
    color: #000;
    border-color: #f3be2b;
    box-shadow: 0 0 15px rgba(243, 190, 43, 0.3);
}

.page-btn:hover:not(:disabled), .num-btn:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3);
}

.page-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}